:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'LexendDeca-Regular';
    src: local('LexendDeca-Regular'), url('./fonts/LexendDeca-Regular.eot'); /* IE9 Compat Modes */
    src: url('./fonts/LexendDeca-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/LexendDeca-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/LexendDeca-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('./fonts/LexendDeca-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('./fonts/LexendDeca-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 500;
    font-style: normal;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
.fridge:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'LexendDeca-Regular';
}

h1 {
  font-family: 'LexendDeca-Regular';
  font-size: 4.0em;
  line-height: 1.1;
  position: absolute;
  text-align: center;
  top: 17.8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-family: 'LexendDeca-Regular';
  font-size: 4.0em;
  line-height: 1.1;
  position: absolute;
  text-align: center;
  top: 6%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.b {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.LoginPopup {
  background-color: white;
  height: 8em;
  width: 12em;
  position: relative;
}

.LoginForms {
  margin: 0;
  position: relative;
  top: 0%;
  text-align: center;
}

.LoginButton {
  z-index: 1;
  position: relative;
}

.RegisterButton {
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 67%;
}

.logout {
  position: absolute;
  top: 20%;
  left: 16%;
  transform: translate(-50%, -50%);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f4f4f4;
  }
}
